#register{
    margin:auto;
    width: auto;
    margin-top: 10px ;
    margin-bottom: 10px;
}
$breakpoint-tablet: 500px;
@media screen and (min-width: $breakpoint-tablet) {
    #register {
        margin:auto;
        width: 370px;
        margin-top: 10px ;
    margin-bottom: 10px;
      }
}