<body id="body">
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a  class="navbar-brand"><img src="assets/images/Logo.png"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Carrer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/product-list" routerLinkActive="active" mdbWavesEffect>Product-List</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Our Products<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">App design</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Mobile design</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Eccomerce app</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Andriod app</a>
        </div>
      </li>

     <li>
       <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </li>

    </ul>
    <!-- Links -->

    <ul id="Login" class="navbar-nav ml- nav-flex-icons">
      <li class="nav-item">
        <a style="display: block;"class="nav-link" routerLink="/login-page" routerLinkActive="active" > <mat-icon>account_box</mat-icon><span>Login</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register-page" routerLinkActive="active"> <mat-icon>how_to_reg</mat-icon>Sign-up</a>
      </li>
      
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>
<!-- Footer -->
<footer class="page-footer font-small unique-color fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
  
</body>