<body id="body">
  <div *ngFor="let val of value">
  </div>
<!--Navbar-->
<div id="navbar">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color fixed-top" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a  class="navbar-brand"><img  class="img-fluid"  src="assets/images/Logo.png"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          About<span class="caret"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/contact-page" routerLinkActive="active" mdbWavesEffect>Contact-us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/product-list" routerLinkActive="active" mdbWavesEffect>Product-List</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Our Products<span class="caret"></span></a>
      </li>

     <li>
       <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </li>

    </ul>
    <!-- Links -->

    <ul id="Login" class="navbar-nav ml- nav-flex-icons">
       
     <!--<li class="nav-item">
        <span class="badge badge-dark">{{value.length}}</span>
      </li>--> 
      <li class="nav-item">
        
        <a class="nav-link" routerLink="/cart" routerLinkActive="active"> 
          <mat-icon>add_shopping_cart</mat-icon>
          Cart <span class="badge badge-dark">{{value.length}}</span></a> 
         
      </li>
      <li class="nav-item">
        <a style="display: block;"class="nav-link"  routerLink="/login-page" routerLinkActive="active" > <mat-icon>account_box</mat-icon><span>Login</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register-page"  routerLinkActive="active"> <mat-icon>how_to_reg</mat-icon>Sign-up</a>
      </li>
      
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
</div>
<!--/.Navbar-->


<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Home Appliances <span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>
<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Electronics <span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>
<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Clothings <span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>
<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Mobiles <span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>
<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Recharges <span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>
<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Furnitures<span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>
<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Vickles <span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>
<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Toys <span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>

<div id="listproduct" class="dropdown">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Fruits & Veges <span class="caret"></span></a> 
    <ul class="dropdown-menu">
    	<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>

<!--/.Navbar-->

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small unique-color fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> We are community</a>
  </div>
  <!-- Copyright -->

</footer>
  
</body>